.banner {
    text-align: center;
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 40px;
        font-weight: bold;
        font-family: Lavishly;
    }
}

.bannerimg{
    background-color: var(--bg-color);
    background-image: url('../images/cartagena1.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    opacity: 0.5;
}

@media screen and (width > 768px){
    div.bannerimg{
        background-color: var(--bg-color);
        background-image: url('../images/cartagena2.png');
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    
}
@media screen and (width > 1024px){
    div.bannerimg{
        background-color: var(--bg-color);
        background-image: url('../images/cartagena3.png');
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    
}