:root {
    --bg-color: white;
    --main-text-color: black;
    --main-brand-color: #e50914;
    --main-brand-color-light: #ff9ca1;
    --border-color: #4b5563;
    --input-bg-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

*{
    box-sizing: border-box;
}


.sr-only:not(:focus):not(:active) { 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

a.intlink {
    display: none;
}
@media screen and (width > 768px){ 
    a.intlink{
        display: block;
    }
    .material-symbols-outlined{
        display: none;
    }
}

h1, h2, h3, h4 ,p {
    margin-top: 0;
}

p{
    margin: 0;
    margin-bottom: 2rem;
}