.contact {
    margin: auto;
    padding: 2rem;
    max-width: 1024px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 1rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    max-width: 472px;
    width: 100%;
    margin: 0 0 1rem 0 ;
    label {
        margin-bottom: 0.5rem ;
        font-weight: 700;
    }

    input, textarea {
        border: 1px solid grey;
        padding: 1rem;
        border-radius: 5px;
    }

    &.radio {    
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;  
        legend {
            font-weight: 700;
        }
        label {
            font-weight: normal;
        }
    }

    &.btns, &.check {
        flex-direction: row;
        gap: 10px;
        label{
            margin: 0;
            font-weight: normal;
        }
    }
}


.btn{
    background-color: var(--main-brand-color);
    padding: 0.7rem;
    display: inline-block;
    border: 1px solid var(--main-brand-color);
    border-radius: 5px;
    transition: background-color 0.3s;
    &.secondary {
        background-color: transparent;
        border: 1px solid var(--main-text-color);
    }
}

@media screen and (width >= 1024px) {
    .heading, .radio, .moreinfo, .check, .btns{
        max-width: 1016px;
        width: 100%;
    }
}

@media screen and (hover : hover) {
    .btn {
        cursor: pointer;
    }
    .btn:hover, .btn.secondary:hover {
        background-color: var(--main-brand-color-light);
    }
}

