.footer{
    display: flex;
    justify-content: center ;
    padding: 2em 0;
    margin:0;
    background-color: var(--main-brand-color-light);
}

.extlink{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &.instagram {
        background-image: url(../images/instagram.png);
    }
    &.youtube {
        background-image: url(../images/youtube.png);
    }
    &.twitter {
        background-image: url(../images/twitter.png);
    }
}



